In [14]:
import glob
import os
import pandas as pd
from sklearn.model_selection import train_test_split
import matplotlib.pyplot as plt
import numpy as np

In [9]:
sample_size = 100
TRAIN_DIR = "train"

In [10]:
TRAIN_LABELLING = "train.csv"
all_labels = pd.read_csv(TRAIN_LABELLING).head(sample_size)
all_labels.shape

(100, 2)

In [11]:
all_labels.head()

           Image         Id
0  0000e88ab.jpg  w_f48451c
1  0001f9222.jpg  w_c3d896a
2  00029d126.jpg  w_20df2c5
3  00050a15a.jpg  new_whale
4  0005c1ef8.jpg  new_whale

In [17]:
y = []
X = []
for _, row in all_labels.iterrows():
    y.append(row['Id'])
    path = os.path.join(TRAIN_DIR, row['Image'])
    X.append(plt.imread(path))

y = np.asarray(y)
len(X), y.shape

(100, (100,))